/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0px;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
i{
  color: var(--main-color);
}
/* End Components */
/*start header*/
.header {
  padding-left: 20px;
  padding-right: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header .container img{
  width: 60px;
}
.header .container .links {
  position: relative;
  width: 30px;
}
.header .container .links .icon{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 30px;
}
.header .container .links .icon span {
  background-color: black;
  margin-bottom: 5px;
  width: 100%;
  height: 4px;
}
.header .container .links:hover ul{
  display: block;
  
}
.header .container .links .icon span:nth-child(2){
  width: 60%;
}
.header .container .links:hover .icon span:nth-child(2){
  width: 100%;
}
.header .container .links ul{
  background-color: #f6f6f6;
  min-width: 200px;
  list-style-type: none;
  padding: 0px;
  position: absolute;
  z-index: 1;
  display: none;
  margin-bottom: 0px;
  right: 0px;
}
.header .container .links ul li{
  padding: 10px;
}
.header .container .links ul li a{
  text-decoration: none;
}
.header .container .links ul li:not(:last-of-type) {
  border-bottom:1px solid black ;


}
/*end header*/
/*Start Landing Section*/
.landing {

  position: relative;
  background-image:url(../images/download.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  
  
}
.landing-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing-text h1{
  margin: 0px;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
  text-transform: capitalize;
}
.landing-text p{
  font-size: 19px;
  line-height: 1.8;

}
/*End Landing Section*/
/* Start Features */
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));;
  grid-gap: 20px;
}
.features .container .feat{
  padding: 20px;
  text-align: center;
}
.features .container .feat:nth-child(2){
  box-shadow:
  5px 5px 0px 0  rgba(62, 62, 67, 0.089);
}
.features .container .feat i{
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Features */
/*Start Services*/
.services{
  margin-top: 50px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}
.services .image img{
  max-width:calc(100% / 3) ;
  min-width: 300px;
  height: 300px;
  position: relative;
}
.services .image::before{
  content:"";
  background-color:var(--secondary-color);
  width: 100px;
  height: 400px;
  position: absolute;
  z-index: -1;
  transform:translate(250%,-15%);
  -webkit-transform:translate(250%,-15%);
  -moz-transform:translate(250%,-15%);
  -ms-transform:translate(250%,-15%);
  -o-transform:translate(250%,-15%);
}
/*End Services*/
/*Start portfolio*/
.portfolio{
  background-color: #f9f9f9;

  border-bottom: 100px solid #f9f9f9;
}
.portfolio .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 50px;
}
.portfolio .card{
  background-color: white;
  padding: 15px 0px 0px 20px;
}
/*End portfolio*/
/*Start about*/
.about{
  margin-bottom: 100px;
}
.about .container .about-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-top: 50px;
  position: relative;
}
.about .text p:first-of-type{
  color: var(--secondary-color);
  font-weight: 800 ;
  line-height: 40px;
}
.about .container .about-content .image::before{
  content:"";
  background-color:transparent;
  width: 100px;
  height: 150px;
  position: absolute;
  border-bottom:40px solid var(--main-color) ;
  border-left:50px solid var(--main-color) ;
  transform: translate(130%,-20%);
  -webkit-transform: translate(130%,-20%);
  -moz-transform: translate(130%,-20%);
  -ms-transform: translate(130%,-20%);
  -o-transform: translate(130%,-20%);
  z-index: -1;
}
.about .container .about-content .image::after{
  content:"";
  background-color:#eee;
  width: 100px;
  height: 400px;
  position: absolute;
  z-index: -1;
  transform: translate(-250%,-20%);
  -webkit-transform: translate(-250%,-20%);
  -moz-transform: translate(-250%,-20%);
  -ms-transform: translate(-250%,-20%);
  -o-transform: translate(-250%,-20%);
}
/*End about*/
/*Start contact*/
.contact{
  background-color: var(--section-background);
  border-bottom:75px solid var(--secondary-color) ;
  margin: 0px;
  height: 500px;
}
.contact .contact-content{
margin: auto;
width: 80%;
}
.contact h3{
  color: var(--secondary-color);
  font-size: 40px;
  letter-spacing: -3px;
  font-weight: 900;
}
.contact a{
  color: #10cab7;
  font-size: 35px;
  text-decoration: none;
  font-weight: 900;
}
.contact .social{
  margin-top: 50px;
}
.contact .social i{
  color: var(--secondary-color);
}

/*End contact*/
